/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
  --space-sm: 12px;
  --space-md: 24px;
  --space-lg: 36px;

  --font-size-sm: 16px;
  --font-size-md: 24px;
  --font-size-lg: 32px;

  --blue-600: #252a50;
  --gray-100: #f8f8f8;
  --gray-300: #c4c4c4;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--gray-100);
}

table {
  padding-top: var(--space-lg);
  margin: 0 auto;
  border-spacing: 0;
  font-size: var(--font-size-md);
}

td, th {
  padding: var(--space-sm);
  text-align: center;
}

.page__title {
  text-align: center;
  padding-top: var(--space-sm);
}
