/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
  --space-sm: 12px;
  --space-md: 24px;
  --space-lg: 36px;

  --line-height-md: 1.5;

  --font-size-sm: 16px;
  --font-size-md: 24px;
  --font-size-lg: 32px;

  --blue-400: #38428d;
  --blue-600: #252a50;
  --gray-100: #f8f8f8;
  --gray-300: #c4c4c4;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--gray-100);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-lg);
}

p {
  line-height: var(--line-height-md);
}

table {
  padding-top: var(--space-lg);
  margin: 0 auto;
  border-spacing: 0;
  font-size: var(--font-size-md);
}

td, th {
  padding: var(--space-sm);
  text-align: center;
}

textarea {
  resize: none;
}

.button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.form__button {
  background-color: var(--blue-400);
  color: var(--white);
  font-weight: bold;
  transition: filter 0.2s;
}

.form__button:hover {
  filter: brightness(1.4);
}

.form__input {
  min-width: 400px;
  margin-bottom: var(--space-md);
  border: 2px solid var(--gray-300);
  border-radius: 5px;
  height: 40px;
  padding-left: var(--space-sm);
}

.form__input--bio {
  padding-top: var(--space-sm);
  height: 150px;
}

.form__label {
  line-height: var(--line-height-md);
}

.page__title {
  text-align: center;
  padding-top: var(--space-sm);
}
